{% extends 'base.html' %}
{% load static %}

{% block content %}
        <section class="main-content">
            <div class="container-fluid">
                <h1 class="text-center">Our <b>Team</b></h1>            
                <br /><br />
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="profile-card bg-white shadow mb-4 text-center rounded-lg p-4 position-relative h-100">
                            <div class="profile-card_image">
                                <img src="{% static 'Interface/images/user1.jpg' %}" alt="User" class="mb-4 shadow" />
                            </div>
                            <div class="profile-card_details">
                                <h3 class="mb-0">Pranav Sawant</h3>
                                <p></p>
                                <p class="text-muted">Student at D Y Patil College of Engineering and Technology, Kolhapur. Artificial Intellegence and Machine Learning Department </p>
                            </div>
                            <div class="profile-card_social text-center p-4">
                                <a href="https://www.linkedin.com/in/pranav-sawant-799850223/" class="d-inline-block">
                                    <img src="{% static 'Interface/images/linkedin.png' %}" alt="Linkedin"/>
                                </a>
                                <a href="#!" class="d-inline-block">
                                    <img src="{% static 'Interface/images/github.png' %}" alt="Github"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="profile-card bg-white shadow mb-4 text-center rounded-lg p-4 position-relative h-100">
                            <div class="profile-card_image">
                                <img src="{% static 'Interface/images/user2.jpg' %}" alt="User" class="mb-4 shadow" />
                            </div>
                            <div class="profile-card_details">
                                <h3 class="mb-0">Darshan Bastawade</h3>
                                <p></p>
                                <p class="text-muted">Student at D Y Patil College of Engineering and Technology, Kolhapur. Artificial Intellegence and Machine Learning Department </p>
                            </div>
                            <div class="profile-card_social text-center p-4">
                                <a href="https://www.linkedin.com/in/darashan-bastawade-38b033219/" class="d-inline-block">
                                    <img src="{% static 'Interface/images/linkedin.png' %}" alt="Linkedin"/>
                                </a>
                                <a href="https://github.com/Darshan-Bastawade" class="d-inline-block">
                                    <img src="{% static 'Interface/images/github.png' %}" alt="Github"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="profile-card bg-white shadow mb-4 text-center rounded-lg p-4 position-relative h-100">
                            <div class="profile-card_image">
                                <img src="{% static 'Interface/images/user3.jpg' %}" alt="User" class="mb-4 shadow" />
                            </div>
                            <div class="profile-card_details">
                                <h3 class="mb-0">Vaidahi Malwade</h3>
                                <p></p>
                                <p class="text-muted">Student at D Y Patil College of Engineering and Technology, Kolhapur. Artificial Intellegence and Machine Learning Department </p>
                            </div>
                            <div class="profile-card_social text-center p-4">
                                <a href="https://www.linkedin.com/in/vaidehi-malwade-310240228/" class="d-inline-block">
                                    <img src="{% static 'Interface/images/linkedin.png' %}" alt="Linkedin"/>
                                </a>
                                <a href="#!" class="d-inline-block">
                                    <img src="{% static 'Interface/images/github.png' %}" alt="Github"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="profile-card bg-white shadow mb-4 text-center rounded-lg p-4 position-relative h-100">
                            <div class="profile-card_image">
                                <img src="{% static 'Interface/images/user4.jpg' %}" alt="User" class="mb-4 shadow" />
                            </div>
                            <div class="profile-card_details">
                                <h3 class="mb-0">Shraddha Budwekar</h3>
                                <p></p>
                                <p class="text-muted">Student at D Y Patil College of Engineering and Technology, Kolhapur. Artificial Intellegence and Machine Learning Department </p>
                            </div>
                            <div class="profile-card_social text-center p-4">
                                <a href="#!" class="d-inline-block">
                                    <img src="{% static 'Interface/images/linkedin.png' %}" alt="Linkedin"/>
                                </a>
                                <a href="#!" class="d-inline-block">
                                    <img src="{% static 'Interface/images/github.png' %}" alt="Github"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock content%}
