<!-- <div class="row" id="microphoneRow" style="margin-top: 50px">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="table-responsive table-margin table-overflow">
                    <table class="ui celled blue table" style="text-align: center">
                        <thead>
                            <tr>
                                <th scope="col">Sr No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Emotion</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mr DB</td>
                                <td>Male</td>
                                <td>Happy</td>
                                <td>
                                    <button type="button" id="main_btn" class="btn btn-primary" style="text-align: center; margin: auto; width: 70%; display: block; background-color: #4f40b5" onclick="getLocalStream()">Classify</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-2"></div>
        </div> -->
